* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
/* RESET */

body {
  background: #f5fbf9;
}

.color-button {
  background: #2fac8e;
  color: #fff;
}


/* ESTILOS GERAIS */

#fundo-verde {
  background: #1da584;
}

#fundo-branco {
  background: #fff;
  box-shadow: 0 7px 6px 0 rgba(23, 33, 44, 0.04);
}
#nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
#nav-menu > a {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}
#nav-menu ul {
  display: flex;
}
#nav-menu ul li a {
  font-weight: bold;
  color: #889995;
}
#nav-menu ul li:first-child {
  margin-right: 40px;
}

/* MENU */

.painel-titulo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.painel-titulo p:first-child {
  color: #1da584;
  font-weight: bold;
}
.painel-titulo h1 {
  line-height: 34px;
  font-size: 28px;
}

.painel-titulo h1 span {
  font-weight: bold;
}

.painel-titulo p:last-child {
  color: #889995;
}

/*NUMERO DE CASOS */
.numero-casos {
  background: #1da584;
  padding: 20px 16px;
  border-radius: 10px;
}

.numero-casos {
  color: #bbe3d1;
  font-weight: bold;
  box-shadow: 0 7px 6px 0 rgba(13, 23, 34, 0.04);
  margin: 0 10px 10px 10px;
}

.numero-casos p:first-child {
  font-size: 22px;
  margin: 0;
}

.recuperados {
  font-size: 3em;
  color: #fff;
}

.acompanhamento {
  font-size: 32px;
  line-height: 36px;
  color: #fff;
}
/*NUMERO DE CASOS */

/* CASOS CONFIRMADOS */
.casos-confirmados {
  padding: 20px 16px;
  background: #fff;
  margin: 0 10px 10px 10px;

  border-radius: 10px;
  box-shadow: 0 7px 6px 0 rgba(13, 23, 34, 0.04);
}

.title-confirmados {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1da584;
  margin-bottom: 10px;
}

.acumulado,
.incidencia,
.novos-casos {
  font-size: 27px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}

.casos-confirmados p {
  font-size: 12px;
  line-height: 6px;
  color: #6f7982;
}
/* CASOS CONFIRMADOS */

/* ÓBITOS CONFIRMADOS */
.obitos-confirmados {
  padding: 20px 16px;
  background: #fff;
  border-radius: 10px;
  margin: 0 10px 10px 10px;

  box-shadow: 0 7px 6px 0 rgba(13, 23, 34, 0.04);
}

.title-obitos {
  font-size: 16px;
  line-height: 18px;
  color: #9fb5c8;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.obito-acumulado,
.letalidade,
.novos-obitos,
.mortalidade {
  font-size: 21px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}

.obitos-confirmados p {
  font-size: 12px;
  line-height: 6px;
  color: #6f7982;
}
/* ÓBITOS CONFIRMADOS */

/* VEJA MAIS */
.veja-mais {
  padding: 20px 16px;
  background: #fff;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
  box-shadow: 0 7px 6px 0 rgba(13, 23, 34, 0.04);
}

.veja-mais h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.veja-mais p {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  color: rgba(75, 75, 84, 0.78);
  margin-bottom: 15px;
}

.veja-mais a {
  padding: 7px 20px;
  border-radius: 5px;
  background: #2fac8e;
  color: #fff;
  box-shadow: 0 5px 5px 0 rgba(13, 23, 34, 0.04);
}
/* VEJA MAIS */

.carrosel {
  box-shadow: 0 7px 6px 0 rgba(13, 23, 34, 0.09);
}

#botao {
  box-shadow: 0 5px 5px 0 rgba(13, 23, 34, 0.09);
}


/* FOOTER */
#footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
